{% extends "layout.html.twig" %}

{% block scripts %}
{% if recaptcha_enabled %}
<script src='https://www.google.com/recaptcha/api.js?hl={{ app.translator.locale }}'></script>
{% endif %}
{% endblock %}

{% block view_classes %}login{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="page-header">
              <h1>Forgot Password</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-6">
        <form method="post" class="tab-content" action="{{ path('hlx.security.password.forgot') }}">
            <div class="tab-pane active" id="login">
                {{ form_widget(form) }}
            </div>
            {% if recaptcha_enabled %}
            <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}" style="margin-bottom:10px"></div>
            {% endif %}
            <div class="form-actions">
                <button class="btn btn-success" type="submit">Send Instructions</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
