{% extends "layout.html.twig" %}

{% block view_classes %}registration{% endblock %}

{% block content %}
<div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="page-header">
              <h1>Registration</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <form method="post" class="tab-content">
                <div class="tab-pane active" id="registration">
                    {{ form_widget(form) }}
                </div>
                <div class="form-actions">
                    <button class="btn btn-success" type="submit">register</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
