{% extends "layout.html.twig" %}

{% block scripts %}
{% if config('hlx.security.recaptcha.enabled') %}
<script src='https://www.google.com/recaptcha/api.js?hl={{ app.translator.locale }}'></script>
{% endif %}
{% endblock %}

{% block view_classes %}registration{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="page-header">
              <h1>Registration</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-6">
        <form method="post" class="tab-content">
            <div class="tab-pane active" id="registration">
                {{ form_widget(form) }}
            </div>
            {% if config('hlx.security.recaptcha.enabled') %}
            <div class="g-recaptcha" data-sitekey="{{ config('hlx.security.recaptcha.site_key') }}" style="margin-bottom:10px"></div>
            {% endif %}
            <div class="form-actions">
                <button class="btn btn-success" type="submit">register</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
